* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* * Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Root örneğin bir sitede verilmiş bir çok stillendirme mesela kırmızı butonlar var 4 tane talep her kırmızı yerine mavi olsun gibi elemanlara teker teker ulaşmadan müdahale etmenin yolu root aşağıdaki gibi kullanılıyor. Yani aslında kullanılacak tüm renkleri ya da elemanları baştan nitelendirmeye yarıyor.
Diğer bir deyişle proje içerisindeki yönetimi kolaylaştırmak için root yani kök dizinde birden fazla yerde kullanacaksak mesela bir buton yapıcaz ki 20 yerde olacak still özelliklerini yönetmek için kullnılır. Root içerisinde bir değer tanımlarken --değerAdı:değerinKarşılığı şeklinde tanımlarız. Kullanılacak yerde ise var(--değerAdı) şeklinde tanımlanır.
*/

:root {
  --black-color: #000;
  --white-color: #fff;
  --seperation-color: #363636;
  --red-color: red;
  --btn-colo: #151411;
}

body {
  background-color: var(--seperation-color);
  color: var(--white-color-white-color);
}
.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: white;
  border-radius: 50%;
  padding: 15px 5px;
  margin: auto;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.4s linear;
  margin-bottom: px;
}
.seperation {
  border-bottom: 5px solid rgba(36, 36, 36, 0.8);
  margin: 60px 0px;
  padding: 10px 10px;
}

.btn:hover {
  background-color: transparent;
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 120px;
  margin: auto;
  padding: 10px 40px;
  z-index: 100;
  margin-top: 50px;
}
header .logo {
  width: 200px;
  height: 200px;
  z-index: 100;
}

header .nav {
  align-items: center;
  display: flex;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  color: var(--white-color);
  gap: 30px;
}

header .nav a {
  padding: 5px;
  align-items: center;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 10px;
  border-bottom: 3px solid transparent;
  border-radius: 2px;
  padding-bottom: 5px;
}

header .nav a:hover {
  border-bottom: 3px solid white;
  border-radius: 2px;
  padding-bottom: 5px;
  position: relative;
}

.welcome {
  background: linear-gradient(to right, rgb(196, 196, 196), rgb(175, 1, 25));
  box-shadow: 0px 15px 20px gray;
  background: linear-gradient(
    to right,
    rgb(161, 161, 161),
    rgba(255, 0, 34, 0.4)
  );
  width: 80%;
  height: 500px;
  margin: auto;
  border-radius: 20px;
  gap: 10px;
}

.left-container {
  margin: 10px;
  margin-top: 10px;
  padding: 10px 10px;
  width: 100%;
  height: 100%;
  margin-bottom: 150px;
}

.welcome .left-container img {
  width: 600px;
  height: 600px;
}

.right-container {
  flex-direction: column;
  width: 80%;
  height: 400px;
  margin: 10px 10px;
  padding: 10px 10px;
  margin-right: 150px;
}

.right-container h1 {
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.right-container p {
  font-size: 20px;
  text-align: center;
}

.middle-container {
  background-color: red;
}

.carts-stage {
  background: linear-gradient(to right, rgb(196, 196, 196), rgb(175, 1, 25));
  box-shadow: 0px 15px 20px gray;
  background: linear-gradient(
    to left,
    rgb(161, 161, 161),
    rgba(255, 0, 34, 0.4)
  );
  margin: auto;
  padding: 10px;
  width: 80%;
  height: 600px;
  border-radius: 20px;
  gap: 10px;
}

.carts-stage .carts-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  margin: 100px;
}

section .carts-container .carts {
  width: 250px;
  height: 250px;
}

section .carts-container .carts .cart {
  width: 50px;
  height: 50px;
}

section .carts-container .cart-image img {
  height: 90%;
  width: 80%;
  padding-left: 50px;
}
section .carts-container .cart-text {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

section .carts-container .cart-text h1 {
  font-size: 50px;
  font-weight: bold;
  color: rgb(209, 0, 0);
  text-shadow: 3px 3px 2px rgb(255, 255, 255);
}
section .carts-container .cart-text p span a {
  color: rgb(255, 0, 0);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.hover-turn {
  cursor: pointer;
}

.carts-stage .carts-container .cart-image .hover-turn {
  cursor: pointer;
}
.carts-stage .carts-container .cart-image .hover-turn:hover {
  animation: yunuslama 2s infinite;
}

@keyframes yunuslama {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Kart Bölümü */

.brand-stage {
  background-color: transparent;
  margin: auto;
  padding: 10px;
  width: 80%;
  height: 700px;
  border-radius: 20px;
}

.brand-stage .brand-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  width: 80%;
  margin: auto;
  height: auto;
  justify-items: center;
  align-items: center;
}

.brand-stage .brand-container .brand-card {
  background-color: rgb(226, 226, 226);
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 10px;
  gap: 30px;
}

.brand-card img {
  width: 80%;
  height: 80%;
  margin: 10px 10px;
}

.brand-card .logolar {
  width: 30%;
  height: 30%;
  padding: 10px;
}
.brand-card .arabalar {
  width: 80%;
  height: 800%;
}

.brand-card h1 {
  font-size: 35px;
}

.brand-card p {
  text-align: center;
}

.brand-card h1 {
  color: green;
  font-weight: bold;
}

.brand-card p {
}

.brand-stage .brand-container .brand-card:hover {
  scale: 1.1;
  transition: all 0.5s;
  cursor: pointer;
}

/* * Footer */
footer {
  text-align: center;
  border-top: 1px solid #ccc;
  padding: 20px 0;
  width: 95%;
  margin: 50px auto;
}

footer .copyright {
  margin-bottom: 20px;
}
footer .created-by {
  background: linear-gradient(to right, green, black);
  padding: 10px 30px;
  display: inline-block;
  border-radius: 10px;
  color: var(--color-white);
  margin-bottom: 30px;
  font-weight: bold;
}
footer .created-by span {
  color: red;
  margin-left: 10px;
}
